<div class="col-sm-12 col-md-10 col-lg-6 px-5 px-sm-0 mx-auto"> 
<h2>User info</h2>
   <div id="error_explanation">
      <% if @user.errors.any? %>
      <h3><%= @user.errors.count %>errors prohibited this obj from being saved:</h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
      <% end %>
    </div>
<%= form_with model: @user, method: :patch do |f| %>
<div class="form-group">
  
  <div class="field" style="margin-bottom: 20px;" >
    <label for="inputName">Name</label>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前", class:"form-control" %>
  </div>
  
  <div class="field" style="margin-bottom: 20px;" >
    <label for="inputImage">Image</label></br>
    <%= f.file_field :image, placeholder: "ファイルを選択", accept: "image/*" %> 
   </div>
   
   <div class="field" style="margin-bottom: 20px;" >
    <label for="inputintroduction">Introduction</label>
    <%= f.text_field :introduction, autofocus: true, placeholder: "自己紹介", class:"form-control" %> 
   </div>
   
   
  <div class="actions">
    <%= f.submit "Update User", class: "btn btn-secondary" %>
  </div>
  
<% end %>
</div>