ユーザー詳細
 <%= image_tag @user.avatar.url, class: 'user_avatar' %>

<%= form_for @user, url: user_path(@user), method: :patch do |f| %>
  <div class="form-group">
    <%= f.label :image, "プロフィール画像" %>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  
  <div class="actions">
    <%= f.submit "更新" %>
  </div>
<% end %>