<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
     <script src="https://kit.fontawesome.com/a4a21ce09e.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Bookers</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      
      <% if user_signed_in? %>
      <!--https://getbootstrap.jp/docs/5.3/components/navbar/の枠組みを使えば楽-->
     
      <ul class="navbar-nav ml-auto"> 
        
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="/users/<%= current_user.id %>"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="/users"><i class="fa-solid fa-users"></i> Users</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="/books"><i class="fa-solid fa-book-open"></i> Book</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" data-method="delete" href="/users/sign_out"><i class="fa-solid fa-right-from-bracket"></i> Log out</a>
        </li>
        
      </ul>
      
      <% else %>
     
       <ul class="navbar-nav ml-auto"> 
        
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="/"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="/homes/about"><i class="fa-solid fa-link"></i> About</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="/users/sign_up"><i class="fa-solid fa-user-plus"></i> Sign up</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light active" aria-current="page" href="/users/sign_in"><i class="fa-solid fa-right-to-bracket"></i> Log in</a>
        </li>
        
      </ul>
     
      <% end %>
      
    </div>
    </div>
    </div>
    </nav>
    <p id="notice"></p>
</header>
  <main>
<!--各ページ内容を読むため-->
 　<div class="container px-sm-0">
    <div class="row">
    <%= yield %>
    <!--↑ここに各ページの内容が代入-->
    </div>
    </div>
  </main>
 

  <footer>
    <div class="container mt-5">
    <div class="row">
    <div class="mx-auto">
    <p>CopyRight Infratop.inc</p>
    </div>
    </div>
    </div>
  </footer>
   </body>
</html>
